@import 'colors';
@import 'mixins';

body#game-body {
    @include reset;
    color: $main-dark;
    #game-container {
        min-height: 100vh;
        min-width: 100vw;
        background-image: $main-bg;
        @include position(r);
        .ribbon {
            @include position(a);
            .game-title {
                @include reset;
                @include pad(0.5em);
                color: $main-light;
                text-shadow: 1px 1px 1px $main-dark;
            }
        }
    }
}